@*the DoctorPageService is added in program.cs *@
@inject UserPageService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/doctor-dashboard"

<AuthorizeView Roles="Doctor">
    <Authorized>
        <h3>Hello, @context.User.Identity.Name!</h3>
        You can only see this if you're a doctor.

     @*    @if (currentUser != null)
        {
            <div>
                <h4>@($"{currentUser.Account.FirstName} {currentUser.Account.LastName}")</h4>
                <ul>
                    @foreach (var appointment in currentUser.Appointments)
                    {
                        <li>@($"{appointment.Service} on {appointment.DateTime}")</li>
                    }
                </ul>
            </div>
        }
        else
        {
            <p>No user information found for the current user.</p>
        } *@
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this content.</p>
    </NotAuthorized>
</AuthorizeView>


@code {

}
