@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <h1 class="display-4 mb-4 text-center">ABOUT US</h1>

    <hr class="mb-5">

    <div class="jumbotron">
        <p class="t mb-5 text-center w-75 mx-auto">
            Our company is a leading care provider in the region, and we always strive to offer high-quality care
            and service to our patients. We have a dedicated staff who work hard to ensure that
            every patient receives the care they need and deserve.
        </p>

        <p class="t mb-5 text-center w-75 mx-auto">
            We believe in the importance of listening to our patients and taking into account their individual needs and
            wishes. We also strive to create a safe and comfortable environment for our patients and their
            families. We are proud of our company's reputation and our passion for providing the best possible care and
            service.
        </p>

        <p class="t mb-5 text-center w-75 mx-auto">
            Our vision is to offer the best care for our patients and, at the same time, create a safe and
            inclusive environment for everyone who visits our clinic.
        </p>
    </div>

    <hr class="mb-5">

    <div class="row mt-5 justify-content-center">

        <div class="col-md-3">
            <img src="/janni-jannesson.png" alt="Janni Jannesson">
        </div>

        <div class="col-md-3">
            <img src="/nisse-nissesson.png" alt="Nisse Nissesson">
        </div>

        <div class="col-md-3">
            <img src="/helena.png" alt="Helena">
        </div>

    </div>
</div>