@*the UserPageService is added in program.cs *@
@inject UserPageService UserService
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/personal-dashboard"
@using HealthCare.Domain.Models

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name!</h3>
        You can only see this if you're authenticated.
    </Authorized>
</AuthorizeView>

@if (currentUser != null)
{
    <div>
        <h4>@($"{currentUser.Account.FirstName} {currentUser.Account.LastName}")</h4>
        <ul>
            @foreach (var appointment in currentUser.Appointments)
            {
                <li>@($"{appointment.Service} on {appointment.DateTime}")</li>
            }
        </ul>
    </div>
}
else
{
    <p>No user information found for the current user.</p>
}

@code {
    private Patient currentUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Retrieve data for the currently authenticated user
            currentUser = UserService.GetPatients().FirstOrDefault(p => p.Account.Id == user.FindFirstValue(ClaimTypes.NameIdentifier));
        }
    }
}
