@*the UserPageService is added in program.cs *@
@inject HealthContext HealthContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AccountService AccountSerive
@using System.Security.Claims
@using HealthCare.Domain.Models
@using HealthCare.Data
@page "/personal-dashboard"

<AuthorizeView Roles="Patient">
    <Authorized>
        <div class="container mt-4">
            <h3>Hello, @context.User.Identity.Name!</h3>

            @if (currentUser != null)
            {
                <div>
                    <h4>@($"{currentUser.Account.FirstName} {currentUser.Account.LastName}")</h4>
                    <ul class="list-group">
                        @foreach (var appointment in currentUser.Appointments)
                        {
                            <li class="list-group-item">@($"{appointment.Service} on {appointment.DateTime}")</li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <p class="text-danger">No user information found for the current user.</p>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this content.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private Patient currentUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Retrieve data for the currently authenticated user
            currentUser = AccountSerive.GetAccountByName(user.Identity.Name).Patient;
        }
    }
}
